.main {
    background-image: url(../APIProject/ASSESTS/harry\ potter-jpeg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.maintwo {
 background-image: url(../APIProject/ASSESTS/harypotter-hallway-jpeg.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
} 

transbox{
    margin: 30px;
    background-color: beige;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}